<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="RaportTransportowy" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python38\python.exe|C:\dev\aplikacje_netto\src\netto\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
